.wrapper {
    width: 90%;
    margin: auto;
    margin-top: 15%;
    text-align: center;
    background-color: tomato;
    border-radius: 5px;
    padding: 10px 0;

    h1 {
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 2px;
    }

    button {
        background-color: blue;
        color: white;
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        border: none;
        cursor: pointer;
    }
}