@import "./base/base";

.container {
    width: 70vh;
    margin: auto;
    margin-top: 20px;
}

.header {
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: tomato;
    h1 {
        letter-spacing: 3px;
    }
}

.items {
    border: 1px solid grey;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: #fff;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            position: relative;
            font-size: 1.6em;
            border-bottom: 1px solid grey;
            padding-bottom: 5px;

            input {
                position: absolute;
                right: 0;
                top: 15%;
            }

            hr {
                margin: 0;
                padding: 5px 0px;
            }
        }
    }
}

input[type="checkbox"]:checked + p {
    text-decoration: line-through;
}

.form {
    margin-top: 10px;
    background-color: grey;
    padding: 10px;
    border-radius: 5px;

    input[type="text"] {
        padding: 10px 5px;
        border-radius: 3px;
        border: none;
        display: inline-block;
        margin-right: 5px;
        width: 70%;
    }

    input[type="submit"] {
        padding: 10px 5px;
        border-radius: 3px;
        border: none;
        background-color: blue;
        color: white;
        font-weight: bold;
    }
}